* {
    box-sizing: border-box;
}

:root {
    --main-background: #2f313b;
    --bear-market-color: #e66666;
    --bull-market-color: #59e48b;
    --main-cat-color: #575b6d;
    --light-text-color: #eeefee;
    --notification-color: #0a58ca;
}

html  {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

body {
    background-color: var(--main-background);
    color: var(--light-text-color);
    overflow-x: hidden;
    line-height: 1.5;
    transition: all ease-in-out 1000ms;
    overflow-x: hidden;
}

section {
    scroll-margin-top: 50px;
}

.display-1 {
    font-size: 10vw;
}
.display-4 {
    font-size: 2.5vw;
}

a {
    text-decoration: none;
    transition: all ease-in-out 750ms;
}

a:hover {
    color: var(--light-text-color);
}

/* ------------------------------------------------------ MAN OUTFIT */

#hair {
    fill: var(--main-cat-color);
}

#jacket {
    fill: var(--bear-market-color);
}

#pants {
    fill: var(--main-cat-color);
}

#sock {
    fill: var(--main-background)
}

#shoe {
    fill: var(--light-text-color);
}

#circle-notifications {
    fill: #0a58ca;
}

/* ------------------------------------------------------ GIRL OUTFIT */

#g-hair {
    fill: var(--main-cat-color);
}

#g-jacket {
    fill: var(--bull-market-color);
}

#g-pants {
    fill: var(--main-cat-color);
}

#g-shoe {
    fill: var(--main-cat-color);
}

/* ------------------------------------------------------ NAV */

nav {
    background-color: var(--main-background);
}

.nav-link-color {
    color: var(--light-text-color) !important;
}

.nav-link:hover {
    color: var(--main-cat-color) !important;
    transform: scale(.98);
}

/* ------------------------------------------------------ HERO */

.hero {
   min-height: 100vh;
}

#hero-text {
    transform: translateX(-100%);
    transition: transform linear 250ms;
}

#deadCat {
    transform: translateX(100%) scale(1) rotate(0deg);
    max-width: 650px;
    transition: transform linear 250ms;
}

#bounce {
    max-height: 100px;
    max-width:100px;
    padding-bottom: 20px;
}

/* ------------------------------------------------------ DEADCAT EXPLAINED */

.info-cont-one {
    transform: translateY(100%);
    opacity: 0;
    transition: all ease-in 500ms;
}

.info-cont-one.active-info-one {
    transform: translateY(0%);
    opacity: 1;
}

/* ------------------------------------------------------ INFO HUH */


.huh {
    font-size: 2.5vw;
    position: absolute;
    top: 5px;
    right: 40px;
}

.huh::before {
    content: open-quote;
    position: absolute;
    font-size: 5em;
    opacity: 0.5; 
    left: -12%;
    top:-60%;
    color: var(--bear-market-color);
}
.huh::after {
    content: close-quote;
    position: absolute;
    font-size: 5em;
    opacity: 0.5; 
    right: -10%;
    top:-200%;
    color: var(--bear-market-color);
}


/* ------------------------------------------------------ INFO CHOICE */

.choice {
    font-size: 2.5vw;
    position: absolute;
    top: -10px;
    left: 50px;
}

.choice::before {
    content: open-quote;
    position: absolute;
    font-size: 5em;
    opacity: 0.5; 
    left: -12%;
    top:-60%;
    color: var(--bear-market-color);
}
.choice::after {
    content: close-quote;
    position: absolute;
    font-size: 5em;
    opacity: 0.5; 
    right: -10%;
    top:-200%;
    color: var(--bear-market-color);
}

#chart-alert-text {
   font-size: 25px;
}

#pick {
    height: 100%;
    width: 100%;
}

.list-group-item {
    background-color: transparent;
    color: var(--light-text-color);
    border-top: none;
    border-left: none;
    border-right: none;
}

.confused-chart-right {
    transform: translate(150%, 0%);
    -webkit-transform: translate(150%, 0%);
    opacity: 0;
    transition: all ease-in 500ms;
    -webkit-transition: all ease-in 500ms;
}
.confused-chart-left {
    transform: translate(-150%, 0%);
    -webkit-transform: translate(-150%, 0%);
    opacity: 0;
    transition: all ease-in 500ms;
    -webkit-transition: all ease-in 500ms;
}

.active-info-two-r,
    .active-info-two-l {
    transform: translate(0% , 0%);
    -webkit-transform: translate(0%, 0%);
    opacity: 1;
}

.selector-info-r
     {
        transform: translate(0%, 150%);
        -webkit-transform: translate(0%, 150%);
        opacity: 0;
        transition: all ease-in 500ms;
        -webkit-transition: all ease-in 500ms;

    }

.selector-info-l
     {
        transform: translate(0%, 150%);
        -webkit-transform: translate(0%, 150%);
        opacity: 0;
        transition: all ease-in 500ms;
        -webkit-transition: all ease-in 500ms;

    }

.active-info-three-r {
    transform: translate(0%, 0%);
    -webkit-transform: translate(0%, 0%);
    opacity: 1;
}
.active-info-three-l {
    transform: translate(0%, 0%);
    -webkit-transform: translate(0%, 0%);
    opacity: 1;
}

#download {
    margin-top: 100px;
}

/* ------------------------------------------------------ STOCK DROPS CUSTOMIZE */

#rowOne {
    width: 500px;
    height: 600px;
    border: 1px solid var(--light-text-color);
    position: relative;
}

#litter-box {
    height: 100%;
}

.bull {
    color: var(--bull-market-color)
}
.bear {
    color: var(--bear-market-color)
}

.section {
    width: 500px;
    height: 100%;
    position: relative;
    overflow-y: hidden;
}

.row-ex {
    width: 100%;
    height: 119.75px;
    position: relative;
}

.symbol-box {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.downer {
    width: 50%;
    height: 100%;
    background-color: var(--main-background);
    border-bottom: 1px solid var(--light-text-color);
    border-right: 1px solid var(--light-text-color);
    text-align: center;
    position: absolute;
    left:0;
    transition: width ease-in-out 500ms;
    cursor: pointer;
    overflow: hidden;
    z-index: 3;
}

.downer:hover {
    box-shadow: inset 5px 0px 1px var(--light-text-color), inset 5px 0px 3px var(--light-text-color);
}

.upper {
    width: 50%;
    height: 100%;
    background-color: var(--main-background);
    border-bottom: 1px solid var(--light-text-color);
    border-left: 1px solid var(--light-text-color);
    text-align: center;
    position: absolute;
    right:0;
    transition: width ease-in-out 500ms;
    cursor: pointer;
    overflow: hidden;
    z-index: 3;
}

.upper:hover {
    box-shadow: inset -5px 0px 1px var(--light-text-color), inset -5px 0px 3px var(--light-text-color);
}

.price {
    margin-bottom: 2.5px;
}

#downArrow {
    color: var(--bear-market-color);
    height: 25px;
    width: 10px;
    margin: 0 10px;
    margin-bottom: 15px;
}

#upArrow {
    color: var(--bull-market-color);
    height: 25px;
    width: 10px;
    margin: 0 10px;
    margin-bottom: 15px;
}

@media (max-width: 500px) {

    #upArrow, #downArrow {
        margin: 0 5px 15px 5px;
        height: 15px;
    }

    .section {
        width: calc(100vw - 10px);
        justify-content: center;
        align-items: center;
    }

    .symbol-box {
        width: calc(50%);
    }

    row-ex {
        width: 100vw;
    }

    #rowOne {
        width: calc(100vw - 10px);
    }

    .symbol-box {
        font-size: 10px;
    }

    .selector-info-r
        {
            transform: translate(100%, 0%);
            opacity: 0;
            transition: all ease-in 500ms;
        }

    .selector-info-l
        {
            transform: translate(-100%, 0%);
            opacity: 0;
            transition: all ease-in 500ms;
        }

    .active-info-three-l, 
    .active-info-three-r {
        transform: translate(0%, 0%);
        opacity: 1;
    }

}

.changes-row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-link {
    color: var(--light-text-color)
}

.tech-up-0, 
.tech-up-1, 
.tech-up-2, 
.tech-up-3, 
.tech-up-4 {
    display: none;
}
.tech-down-0, 
.tech-down-1, 
.tech-down-2, 
.tech-down-3, 
.tech-down-4 {
    display: none;
}

.active-down-symbol {
    transition: all ease-in-out 500ms;
    border-right: transparent;
    box-shadow: inset 5px 0px 1px var(--bear-market-color), inset 5px 0px 2px var(--bear-market-color);
}

.active-up-symbol {
    transition: all ease-in-out 500ms;
    border-left: transparent;
    box-shadow: inset -5px 0px 1px var(--bull-market-color), inset -5px 0px 2px var(--bull-market-color);
}

#tech-in {
    margin-top: 15px;
    width: 40%;
    height: 95%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    overflow-y: scroll;
    z-index:2;
    font-size: .8em;
}

#tech-in::-webkit-scrollbar {
    display: none;
}

.tech-title {
    width: 100%;
    text-align: center;
    text-decoration: underline;
    font-size: 2em;
}

.tech-header {
    width: 100%;
    text-align: center;
    text-decoration: underline;
    font-size: 1.25em;
    transition: all ease-in-out 500ms;
}

.tech-header:hover {
    text-decoration-color: var(--notification-color);
}

.tech-row,
    .tech-vol-row {
    padding: 0 5px;
    margin-top: 10px;
    width: 100%;
}

.tech-to-left {
    float: right;
}

.averages-row {
    display: flex;
    justify-content: space-between;
}

.osc-text {
    width: 100%;
    text-align: center;
}

.macd-row {
    width: 100%;
    text-align: center;
    display: flex;
    font-size: .75em;
    justify-content: space-between;
}

.flex-rsi-cci {
    display: flex;
}

/* ------- LOADING SCREEN ---------------------------- */

.loading-screen {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 99;
    background: rgba(255, 255, 255, 0.3);    
    backdrop-filter: blur(8px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
    .loading-screen {
      -webkit-backdrop-filter: blur(8px);
      backdrop-filter: blur(8px);
      background-color: rgba(255, 255, 255, 0.5);  
    }
  }

#loading-text {
    font-size: 40px;
    color: var(--main-cat-color);
    text-shadow: 1px 1px var(--light-text-color);
  }

#deadCatLoad {
    width: 150px;
    height: 150px;
    animation-name: cat-load;
    animation-timing-function:ease-in-out;
    animation-duration: 2000ms;
    animation-iteration-count: infinite;
    margin-bottom: 0px;
}

@keyframes cat-load {
    0% {
        width: 150px;
        height: 150px;
        margin-bottom: 0px;
    }

    50% {
        width: 140px;
        height: 140px;
        margin-bottom: 10px;
    }

    100% {
        width: 150px;
        height: 150px;
        margin-bottom: 0px;
    }
}

#load-one {
    color: var(--main-cat-color);
    text-shadow: 1px 1px var(--light-text-color);
    font-size: 75px;
    margin: 0 10px;
    opacity: 0;
    animation-delay: 500ms;
    animation-name: load-one;
    animation-timing-function: linear;
    animation-duration: 2000ms;
    animation-iteration-count: infinite;
}

@keyframes load-one {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
#load-two {
    color: var(--main-cat-color);
    text-shadow: 1px 1px var(--light-text-color);
    font-size: 55px;
    margin: 0 10px;
    opacity: 0;
    animation-name: load-two;
    animation-delay: 1250ms;
    animation-timing-function: linear;
    animation-duration: 2000ms;
    animation-iteration-count: infinite;
}

@keyframes load-two {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
#load-three {
    color: var(--main-cat-color);
    text-shadow: 1px 1px var(--light-text-color);
    font-size: 35px;
    margin: 0 10px;
    opacity: 0;
    animation-delay: 2000ms;
    animation-name: load-three;
    animation-timing-function: linear;
    animation-duration: 2000ms;
    animation-iteration-count: infinite;
}

@keyframes load-three {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* ------------------------------------ GOOGLE SEARCH TICKER NEWS ---- */
.stock-news-link {
    color: var(--notification-color);    
  }

  .stock-news-link:hover {
      letter-spacing: 0px;
  }

  .news-row {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 15px;
  }

/* ------------------------------------ NAV BAR ---- */

  .header {
    height: 30px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--light-text-color);
    background-color: var(--main-cat-color);
  }
  
  #deadCat-header {
    height: 35px;
    cursor: pointer;
  }
  
  #popup-close {
   margin-left: 400px;
   font-size: 25px;
   background: transparent;
   border: none;
   color: var(--light-text-color);
   cursor: pointer;
  }
  
  #popup-close:active {
    transform: scale(.98)
  }

   /* --------------------- DOWNLOAD LINK ----------------------- */

   .download-link {
    font-size: 2em;
}

  @media (max-width: 500px) {
    .header {
        height: 30px;
        width: calc(100vw - 10px);
        display: flex;
        align-items: center;
        justify-content: space-between;  
    }
      
      #deadCat-header {
        height: 30px;
      }
      
      #popup-close {
       margin-left: 0px;
      }

      
    .info-cont-one.active-info-one {
        transform: translateY(-25%);
        opacity: 1;
    }
    
    .download-link {
        font-size: 1.25em;
    }

  }


